<a class="pokemon">

  <section class="pokemon__info">
    <h2>Nome</h2>

    <ul>
      <li>Tipo 1</li>
      <li>Tipo 2</li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="assets/001.png" alt="bulbasaur">
  </section>

</a>

<a class="pokemon">

  <section class="pokemon__info">
    <h2>Nome</h2>

    <ul>
      <li>Tipo 1</li>
      <li>Tipo 2</li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="assets/001.png" alt="bulbasaur">
  </section>

</a>

<a class="pokemon">

  <section class="pokemon__info">
    <h2>Nome</h2>

    <ul>
      <li>Tipo 1</li>
      <li>Tipo 2</li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="assets/001.png" alt="bulbasaur">
  </section>

</a>

