<app-header></app-header>

<div class="choose">

  <div class="genI-II">

    <div class="kanto">
      <img src="assets/logos/pokedex-kanto.svg">
      <img src="assets/starters/kanto.svg">
    </div>

    <div class="johto">
      <img src="assets/logos/pokedex-johto.svg">
      <img src="assets/starters/johto.svg">
    </div>

  </div>



  <div class="genIII-IV">

    <div class="hoenn">
      <img src="assets/logos/pokedex-hoenn.svg">
      <img src="assets/starters/hoenn.svg">
    </div>

    <div class="sinnoh">
      <img src="assets/logos/pokedex-sinnoh.svg">
      <img src="assets/starters/sinnoh.svg">
    </div>

  </div>




</div>


